// Copyright © 2024 Elysia

// ////////////////// //
//     Bulma Core     //
// ////////////////// //

// https://bulma.io/documentation/
// https://bulma.io/documentation/start/migrating-to-v1/
@use 'bulma/sass' with (
  $family-primary: "'Poppins', Helvetica, Arial, serif",
  $primary: $primary,
  $success: $success,
  $warning: $warning,
  $danger: $danger,
  $info: $info,
  $link: $link,
  $title-weight: 600,
  $navbar-height: $navbar-height,
  $navbar-item-img-max-height: unset
);
